name: Release
on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: read

jobs:
  build-wails:
    name: Build wails
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            platform: windows/amd64
            output: keyring-wallet-windows.exe
          - os: macos-latest
            platform: darwin/universal
            # wails bug, mac outputfile name not work
            output: Keyring\ Wallet
          - os: ubuntu-20.04
            platform: linux/amd64
            output: keyring-wallet-linux
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Replace Secrets
        uses: kaichaosun/ga-replace-string@v0.1.0
        with:
          old-string: "env:INFURA_API_TOKEN"
          new-string: ${{ secrets.INFURA_API_TOKEN }}
          file: "resources/registry.json"
      - name: Replace WalletConnect projectId
        uses: kaichaosun/ga-replace-string@v0.1.0
        with:
          old-string: "env:WALLET_CONNECT_PROJECT_ID"
          new-string: ${{ secrets.WALLET_CONNECT_PROJECT_ID }}
          file: "resources/init.json"
      - name: Install libpcsclite
        if: matrix.platform == 'linux/amd64'
        run: sudo apt install libpcsclite-dev
      - name: Setup NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: 18
      - run: npm install && npm run build
        working-directory: frontend
      - uses: dAppServer/wails-build-action@v2
        with:
          build-name: ${{ matrix.output }}
          build-platform: ${{ matrix.platform }}
          go-version: 1.20.x
          package: false
      - if: runner.os == 'macOS'
        shell: bash
        run: |
          rm -rf ./build/bin/${{ matrix.output }}.app.zip
          ditto -c -k --keepParent ./build/bin/${{matrix.output}}.app ./build/bin/keyring-desktop.app.zip
          rm -rf ./build/bin/${{ matrix.output }}.app

      - uses: actions/upload-artifact@v3
        with:
          name: target
          path: build/bin/*

  collect-release:
    name: Collect and release
    needs: [ build-wails ]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
        with:
          name: target
          path: target
      - run: ls -al target && ls -R target/
      - working-directory: target
        run: |
          rm -rf Keyring\ Wallet-amd64-installer.exe
          rm -rf Keyring\ Wallet.pkg
          mv keyring-desktop.app.zip keyring-wallet-darwin.app.zip
      - run: ls -al target && ls -R target/ && file target/
      - uses: actions/upload-artifact@v3
        with:
          name: target-release
          path: target/*

      # release assets
      - uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: target/*
      # upload to storj
      - uses: jakejarvis/s3-sync-action@v0.5.1
        with:
          args: --delete
        env:
          AWS_S3_ENDPOINT: ${{ secrets.AWS_S3_ENDPOINT }}
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          SOURCE_DIR: target